body {
    display: flex;
    justify-content: center;
    background-image: url(Images/Hong_Kong.jpg);    
}

.allContent {
    width: 70%;
    height: 95%;
    border: 1px solid black;
    background-color: white;
}

/*Styling header*/
.info{
    display: flex;    
    justify-content: flex-end;
}

.info li{
    flex-direction: row;
    margin-right: 4em;

}

header li:first-child {
    list-style-image: url("Images/phone-icon.gif");
}

header li:nth-child(2) {
    list-style-image: url("Images/letter.gif");
}

header li:last-child {
    list-style-image: url("Images/email.gif");
}

header img {
    border: 3px solid black;
    border-radius: 100%;
    float: left;
    margin: 0 15px 30px 15px;
    
}

.name {
    position: relative;
    right: -4em;
    bottom: -3.5em;
}
.name::first-line {
    font-size: 3em;
    font-weight: bold;
}

.name>span {
    color: rgb(198,105,60);
    font-size: 2em;
    font-weight: bold;
}
/*Styling section Personal skills*/
.personalSkills h1 {
    color:  rgb(198,105,60);
    text-align: center;
    clear: left;
    
}

.wrapp li {
  display: inline-block;
  width: 18em;
  margin-top: 10px;
}

.wrapperForSkills {
   display: flex;

}